@font-face {
    font-family: 'lato';
    src: url('assets/fonts/lato') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

.col {
    padding: 15px !important;
}
.card {
    border-radius: 5px !important;
}
.card-img-top {
    border-radius: 5px;
    size-adjust: cover;
}

.header {
    background-image: url(../assets/images/Coelho/DesignSemNome.png) !important; /* Caminho da imagem */
    background-size: cover; /* Preenche a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Fixa a imagem de fundo */
    height: 100vh; /* Ocupa a altura total da tela */
    width: 100%; /* Largura total */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Ajuste para visibilidade */
}

.nav-title 
{
    font-family: 'lato', sans-serif !important;
    font-weight: bold !important;
    font-size: 2rem;
    color: #ffffff !important;
}

.jumbotron{
    background-color: #d2d2d200;
    z-index: 0;
}

.nav-link 
{
    padding: 0px;
    font-family: 'lato', sans-serif !important;
    font-size: 1.1rem;
    color: #ffffff !important;
    transition: all 0.3s ease; /* Transição suave */
}
.nav-link:hover {
    color: #d2d2d2 !important;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2) !important;
}
.navbar-img {
    width: 14vh;
}

.btn-custom {
    font-family: 'lato', sans-serif !important;
    border: 2px solid #235A8C; /* Define a borda laranja */
    background-color: transparent; /* Fundo transparente */
    color: #235A8C; /* Texto laranja */
    transition: box-shadow 0.3s ease; /* Transição suave para a sombra */
    border-radius: 0%;
}
.btn-custom:hover {
    box-shadow: 0px 0px 10px 2px #235A8C; /* Sombra laranja ao passar o mouse */
    color: #235A8C; /* Garante que a cor do texto permaneça laranja */
}

/* Navbar com gradiente */
.bg-gradient {
    background-color: rgba(220, 220, 220, 0); /* Gradiente de fundo */
    position: relative; /* Necessário para a camada overlay */
    z-index: 0; /* Define a camada de fundo */
}

.body
{
    background: rgb(220, 220, 220)
}

/* Define o estado inicial da animação */
.section 
{
    opacity: 0; /* Invisível inicialmente */
    transform: translateY(30px); /* Posiciona ligeiramente abaixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transição suave */
}

/* Estado final - quando a classe 'visible' for adicionada */
.section.visible
{
    opacity: 1;
    transform: translateY(0); /* Volta à posição normal */
}


#canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#afafaf, #3d3d3d);
}